.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  position: relative;
  /* max-width: 30vw; */
}
.sidebar__chats {
  margin-top: 10px;
  flex: 1;
  background-color: white;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
}

.sidebar__moreIcon {
  position: relative;
}
.sidebar__moreOptions {
  position: absolute;
  width: 10rem;
  height: 5rem;
  top: 4rem;
  right: 1.5rem;
  z-index: 99;
  background-color: #ebebeb;
  border: 1px solid #c4c2c2;
  /* box-shadow: -1px -1px 2px #757373,
  2px 2px 2px #e4e1e1; */
}
.sidebar__moreOptionsClosed {
  display: none;
}
.sidebar__moreOptions > button {
  background: none;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: gray;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}
.sidebar__moreOptions > button:hover {
  background-color: white;
}
.sidebar__search {
  padding: 0 10px;
}
